@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Tinos:wght@400;700&family=Volkhov:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDEEEB;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  color: #4B4D61;
}

h1 {
  font-family: "Volkhov" !important;
}

h2 {
  font-family: "Tinos" !important;
}

h3, h4, h5, h6, p, span, div {
  font-family: "Libre Baskerville" !important;
}

[type="date"] {
  /* background: #EDEEEB url(/callbtn.png) 97% 50% no-repeat; */
  /* background: #EDEEEB url(/calendar.svg) 97% 50% no-repeat; */
  background: #EDEEEB url(/calbtn.svg) 90% 50% no-repeat;
  /* background-size: 1.8rem; */
  background-size: 10%;
  /* background: #EDEEEB; */
  border: 1px solid transparent;
  width: 10rem;
  padding: 0.5rem;
}

[type="date"]:focus {
  outline: none !important;
  border: 1px solid #4B4D61;
  border-radius: 0.5rem;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
} 

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button:disabled,
button[disabled] {
  color: #808080;
}

li {
  list-style-type: decimal;
  list-style-position: inside;
}