@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Tinos:wght@400;700&family=Volkhov:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EDEEEB;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  color: #4B4D61;
}

h1 {
  font-family: "Volkhov" !important;
}

h2 {
  font-family: "Tinos" !important;
}

h3, h4, h5, h6, p, span, div {
  font-family: "Libre Baskerville" !important;
}